.login-card-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:35%;
    height:300;
}

.login-card-content{
    width:90%;
    display:flex;
    flex-direction:column;
}
